<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-lg-4 footer-about wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
          <h3>
            Lesson tracking made simple
          </h3>
          <p><a href="<%= about_path %>">About</a></p>
        </div>
        <div class="col-md-6 col-lg-4 offset-lg-1 footer-contact wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
          <h3>Contact</h3>
          <p><i class="fas fa-map-marker-alt"></i> An school, wondering where my lessons went...</p>
          <p><i class="fas fa-envelope"></i> Email: <a href="mailto:dontemailme.com">lessons@lessontracking.com</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
