<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <div class="school-icon">
        <i class="fa-solid fa-school"></i>
      </div>
    <% end %>
  </div>
</div>
