<div class="container-fluid" style="background-color: #465362">
  <div class="holder welcome-banner">
    <h1>Info Page</h1>
      <ul>
        <li>This was created as an experiment, there are no guarantees it is accurate...</li>
        <li>Data that is saved and accessible to the site owner:</li>
          <ul>
            <li>Instructor ID</li>
            <li>Lesson booked info for this, next & last month (each time you run the data).</li>
            <li>Your password is never saved and nobody has access to it. It is temporarily collected and sent for log in purposes but never retained.</li>
          </ul>
      </ul>
  </div>
</div>
