<div class="container-fluid" style="background-color: #465362">
  <div class="holder">
    <div class="flex">
      <div class="welcome-banner">
        <h1>Welcome</h1>
      </div>
      <div class="submission">
        <%= render 'shared/submission' %>
      </div>
    </div>
  </div>
</div>
