<div class="container-fluid" style="background-color: #465362">
  <div class="holder">
    <div>
      <h1>Lessons Updated...</h1>
      <p>Here are the results of your most recent check...</p>
      <table>
        <tr>
          <th>Month
          </th>
          <th>Updated Time
          </th>
          <th>Total Changes
          </th>
          <% @all.reverse.each do |scrape| %>
            <tr>
              <td><%= "#{scrape.yyyymm.to_s[0, 4]}, #{Date::MONTHNAMES[scrape.yyyymm.to_s[4, 2].to_i]}" %>
              </td>
              <td><%= scrape.created_at.strftime("%Y, %b %e - %H:%M") %>
              </td>
              <td><%= scrape.slots.where(updated:true).size %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="holder">
    </div>
  </div>
