<div class="container-fluid" style="background-color: #465362">
  <div class="holder">
    <h1>Lessons Updated...</h1>
    <p>Here are the results of your most recent check...</p>
  </div>
  <div class="holder">
    <%= @scrape.id %>
  </div>
</div>
