.holder th {
  border: solid;
  border-color: black;
  // border-color: #465362;
  margin: auto;
  padding-inline: 0.5rem;
  background-color: #465362;
  color: aqua;
  text-align: center;
  vertical-align: middle;
}

.holder td {
  border: solid;
  padding-inline: 0.5rem;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.no-updates {
  background-color: #9cbce4;
  font-style: italic;
}

.cancelled{
  background-color: #a21316;
  font: aqua;
  font-style: italic;
  text-decoration: line-through;
}

.blue-lsn {
  background-color: blue;
}
