.holder th {
  border: solid;
  border-color: black;
  // border-color: #465362;
  margin: auto;
  padding-inline: 0.5rem;
  background-color: #465362;
  color: aqua;
  text-align: center;
  vertical-align: middle;
}

.holder td {
  border: solid;
  padding-inline: 0.5rem;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.no-updates {
  background-color: #9cbce4;
  font-style: italic;
}

.cancelled{
  background-color: #a21316;
  font: aqua;
  font-style: italic;
  text-decoration: line-through;
}

.blue-lsn {
  background-color: blue;
}

.month {
  font-size: xx-large;
}

.invisible-row {
  height: 12px;
  padding: 0;
  border: none;
  margin: 0;
}

.info-page {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  border-radius: 5px;
}

.info-page h1 {
  width: 100%;
  background-color: #465362;
  border-radius: 5px;
}

#menu-btn {
  width: 100px;
  position: relative;
  cursor: pointer;
}

#menu-btn:hover {
  background: #2c3642;
  transition: 0.3s;
}

#summary {
  position: absolute;
  right: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.6);
  z-index: 1;
}

#summary td,
#summary th {
  color: aqua;
  background: #465362;
  border: solid;
  padding: 8px;
}

.shown {
  display: none;
  opacity: 0;
  transition: opacity 5s ease;
}

.related {
  background: red;
  font-weight: bolder;
  border: solid , black;
}
