.holder th {
  border: solid;
  border-color: #465362;
  margin: auto;
  padding-inline: 0.5rem;
  background-color: #465362;
  color: aqua;
}

.holder td {
  border: solid;
  padding-inline: 0.5rem;
  margin: auto;
}
