.holder {
  background-color: #82a3a1;
  padding: 16px;
  margin: 0 auto;
  max-width: 70%;
}

.flex {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.submission {
  background-color: #465362;
  border-style: dotted;
  border-radius: 5px;
  min-width: 200px;
  min-height: 200px;
  padding: 8px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

.welcome-banner h1 {
  box-shadow: 0 1px 2px rgba(0,0,0,0.6);
  border-radius: 5px;
}

h1 {
  background-color: #465362;
  padding: 8px;
}

table {
  margin: 0 auto;
  box-shadow: 0 1px 2px rgba(0,0,0,0.6);
}
